In [ ]:
introduction to list datatypes:
defination: list is an ordered collection of items.
list is classifiedas an notable datatype 
how to define a list----->[]

In [2]:
students=('deepak','anusha','kiran','ravi','papi','ram')# napped with

In [3]:
print(students)

('deepak', 'anusha', 'kiran', 'ravi', 'papi', 'ram')

In [4]:
type(students)

tuple

In [ ]:
introduction to indexing :0,1,2,3.....

In [ ]:
#req: i want to access kiran name on the output...?

In [6]:
print(students[2].title())

Kiran

In [ ]:
reassignment , adding and removal of element /items is the list:

In [7]:
print(students)

('deepak', 'anusha', 'kiran', 'ravi', 'papi', 'ram')

In [ ]:
# req: replace kiran wiht sajid

In [13]:
students[2] = 'sajid'  #reassignment....!!

TypeError: 'tuple' object does not support item assignment

In [11]:
print(students)

('deepak', 'anusha', 'kiran', 'ravi', 'papi', 'ram')

In [ ]:
# req: to add swapna to the list above....!

In [12]:
students.append('swapna')

AttributeError: 'tuple' object has no attribute 'append'

In [14]:
print(students)

('deepak', 'anusha', 'kiran', 'ravi', 'papi', 'ram')

In [20]:
students.append('salman')

AttributeError: 'tuple' object has no attribute 'append'

In [18]:
print(students)

('deepak', 'anusha', 'kiran', 'ravi', 'papi', 'ram')

In [ ]:
# req: to add laxmi at the 3rd position

In [21]:
students.insert(3,'laxmi')

AttributeError: 'tuple' object has no attribute 'insert'

In [22]:
print(students)

('deepak', 'anusha', 'kiran', 'ravi', 'papi', 'ram')

In [ ]:
#append vs insert****

In [ ]:
removal f elements from the list:

In [ ]:
#req: deepak from the list...!

In [23]:
del students[0] #oneway ----> permanent delete.

TypeError: 'tuple' object doesn't support item deletion

In [24]:
print(students)

('deepak', 'anusha', 'kiran', 'ravi', 'papi', 'ram')

In [ ]:
# pop method ---> it will be creating a carboncopy of the deletes items.

In [ ]:
pop----> by default it will be deleting the items from the list or the end of the list.

In [25]:
x = students.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [26]:
print(students)

('deepak', 'anusha', 'kiran', 'ravi', 'papi', 'ram')